<div style="width: 100%; height: 500px; display: flex">
    <angular-material-scheduler
        [locale]="'es-es'"
        [view]="'week'"
        [shifts]="shifts"
        [startsOnSunday]="false"
        [scrollWeekViewToSpecificHourOnInit]="'09:00'"
        [scrollWeekViewToFirstEventOnInit]="false"
        [scrollWeekViewToEventOnChange]="true"
        (WeekEventClicked)="alertContent($event)"
        (WeekEventRemove)="alertContent($event)"
    >
    </angular-material-scheduler>
</div>
<button (click)="decrease()">decrease</button>
<button (click)="increase()">increase</button>
<div style="width: 100%; height: 500px; display: flex">
    <angular-material-scheduler
        [locale]="'es-es'"
        [view]="'month'"
        [date]="date.asObservable()"
        [startsOnSunday]="true"
        [shifts]="shifts"
        (DayClicked)="alertContent($event)"
        (DayEventClicked)="alertContent($event)"
    >
    </angular-material-scheduler>
</div>
